<aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">	
		<div class="user-profile px-20 py-10">
			<div class="d-flex align-items-center">			
				<div class="image">
				  <img src="/images/avatar/avatar-13.png" class="avatar avatar-lg bg-primary-light rounded100" alt="User Image">
				</div>
				<div class="info">
					<a  href="#">Ajay Patel</a>
				</div>
			</div>
	    </div>
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">	
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">		
				<li>
				  <a href="/add_application">
						<i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
						<span>Add Applications</span>
				  </a>
				</li>	
				<li class="treeview">
				  <a href="#">
					<i class="icon-Briefcase"><span class="path1"></span><span class="path2"></span></i>
					<span>Show Application</span>
				  </a>
				</li>
				
			  </ul>
		  </div>
		</div>
    </section>
  </aside>