{{template "partials/header" .}} {{template "partials/main_sidebar" .}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div class="container-full">
    <div class="container-full">
      <section class="content">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <div class="box-body"></div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

{{template "partials/footer" .}}
